.layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.layout > ::deep *:not(:is(.command, :has(+ .derived))) {
    margin-bottom: 24px;
}

.layout > ::deep .command {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: flex-end;
}
