.layout {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 24px 32px;
    grid-template-areas: 'title . cost' 'process . machine';
    justify-items: start;
    padding: 4px 8px 4px 8px;
}

.title {
    text-align: start;
    font-size: 16px;
}

.cost {
    grid-area: cost;
    font-size: 16px;
    color: var(--c-text-light-sub);
}

.process {
    grid-area: process;
    display: grid;
    grid-template-columns: auto 32px auto;
    align-items: center;
}

.icons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 32px;
    --side-length: 32px;
}

.arrow {
    width: 32px;
    height: 32px;
    stroke: none;
    fill: var(--c-ficsit-secondary);
}

.machine {
    grid-area: machine;
    --side-length: 32px;
    justify-self: end;
}