@code {
    [CascadingParameter] public required IUnitOfWork UOW { get; set; }
    [Parameter] public required Facility Model { get; set; }
    private List<byte[]> icons = [];

    protected override void OnParametersSet()
    {
        icons = Model.GetIcons().ToList();   
    }
}

<div class="layout" style="--icons: @(icons.Count)">
    @foreach (var icon in icons)
    {
        <ImageBox Value="icon" />
    }
    <div class="data">
        <span>@Model.Name</span>
    </div>
</div>