.layout {
    min-height: 128px;
    display: grid;
    grid-template-columns: 128px 1fr auto;
    grid-template-rows: 1fr 32px;
    grid-template-areas:
        'icon data data'
        'icon data data';
}

.layout > ::deep *:first-child {
    grid-area: icon;
}

.data-primary {
    grid-area: data;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label {
    height: 24px;
    align-self: stretch;
    justify-self: center;
    background-color: var(--c-ficsit-primary);
    color: var(--c-text-dark);
    display: flex;
    align-items: center;
    padding-left: 13px; /* 8 + 4 + 1 */
    user-select: none;

    &:hover, &:has(+input:hover), &:has(+input:focus-visible) {
        background-color: var(--c-ficsit-secondary);
    }
}

.layout ::deep .command {
    grid-column: 3/4;
    grid-row: 2/3;
}