@code {
    [Parameter, EditorRequired] public required IEnumerable<Quantity> Inputs { get; set; }
    [Parameter, EditorRequired] public required IEnumerable<Quantity> Outputs { get; set; }
    private List<Quantity> inputs = [];
    private List<Quantity> outputs = [];

    protected override void OnParametersSet()
    {
        inputs = Inputs.ToList();
        outputs = Outputs.ToList();
    }
}

@if (inputs.Any())
{
    <div class="icons max4">
        @foreach (var q in inputs)
        {
            <ImageBox Type="Part" Id="q.PartId" Tooltip="@q.Amount?.ToString()" />
        }
    </div>

    <svg class="glyph arrow" viewBox="0 0 100 100">
        <path d="M70,45 L20,45 L20,55 L60,55 L60,65 L80,50 L60,35 L60,50" />
    </svg>
}

<div class="icons">
    @foreach (var q in outputs)
    {
        <ImageBox Type="Part" Id="q.PartId" Tooltip="@q.Amount?.ToString()" />
    }
</div>