@code {
    [CascadingParameter] public required IUnitOfWork UOW { get; set; }
    [Parameter] public required Recipe Model { get; set; }

    private byte[]? GetProductIcon()
    {
        return Model.Parts.Where(p => p.Role == RecipePartRole.Product).FirstOrDefault()?.Part?.Icon;
    }
}

<div class="layout">
    <ImageBox Value="GetProductIcon()" />
    <div class="data">
        <span>@Model.Name</span>
    </div>
</div>