@code {
    [CascadingParameter] public required IUnitOfWork UOW { get; set; }
    [Parameter] public required Recipe Model { get; set; }

    private void DeleteRecipe()
    {
        UOW.DB.Recipes.Remove(Model);
        UOW.NotifyChanged();
    }

    private void AddIngredient()
    {
        Model.Parts.Add(new() { Role = RecipePartRole.Ingredient, Recipe = Model });
        UOW.NotifyChanged();
    }

    private void AddProduct()
    {
        Model.Parts.Add(new() { Role = RecipePartRole.Product, Recipe = Model });
        UOW.NotifyChanged();
    }

    private void RemovePart(RecipePart part)
    {
        Model.Parts.Remove(part);
        UOW.DB.Remove(part);
        UOW.NotifyChanged();
    }
}

<div class="layout">
    <Block Label="Name">
        <TextField id="@context" @bind-Value="Model.Name" />
    </Block>

    <div class="part-table">
        <div>Ingredient</div>
        <div>Quantity</div>
        <div class="table-commands">
            <CommandButton Small @onclick="AddIngredient">+</CommandButton>
        </div>

        @foreach (var part in Model.Parts.Where(p => p.Role == RecipePartRole.Ingredient))
        {
            <NullableIdField @bind-Value="part.PartId" />
            <NumberField @bind-Value="part.Quantity" />
            <div class="table-commands">
                <CommandButton Small @onclick="() => RemovePart(part)">-</CommandButton>
            </div>
        }
    </div>

    <div class="part-table">
        <div>Product</div>
        <div>Quantity</div>
        <div class="table-commands">
            <CommandButton Small @onclick="AddProduct">+</CommandButton>
        </div>

        @foreach (var part in Model.Parts.Where(p => p.Role == RecipePartRole.Product))
        {
            <NullableIdField @bind-Value="part.PartId" />
            <NumberField @bind-Value="part.Quantity" />
            <div class="table-commands">
                <CommandButton Small @onclick="() => RemovePart(part)">-</CommandButton>
            </div>
        }
    </div>

    <CommandButton @onclick="DeleteRecipe">Delete</CommandButton>
</div>