.layout {
    height: 64px;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 1fr 24px;
    grid-template-areas: 'icon data';
    align-items: center;
    justify-items: start;
    padding: 0 8px;
}

.title {
    margin-left: 8px;
    font-size: 24px;
}
