@code {
    [Parameter] public required string Name { get; set; }
    [Parameter] public required string IconType { get; set; }
    [Parameter] public int IconId { get; set; }
}

<div class="layout">
    <ImageBox Type="@IconType" Id="IconId" />
    <div class="title">@Name</div>
</div>