.shell {
    max-width: 1080px;
    margin: 0 auto;
}

nav {
    height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

nav ::deep>a {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;

    color: var(--c-text-light);
    text-decoration: none;
    outline: none;
}

nav ::deep>a.active {
    background: var(--c-content-background);
}

nav ::deep>a:hover {
    background: var(--c-sidebar-background);
}

nav ::deep>a:focus-visible {
    color: var(--c-ficsit-secondary);
}

.tab-icon {
    width: 32px;
    height: 32px;

    & + * {
        margin-left: 2px;
    }
}

@media screen and (max-width: 768px) {
    .tab-title {
        display: none;
    }
}

main {
    background: var(--c-content-background);
    padding: 16px;
}