.shell {
    max-width: 1080px;
    margin: 0 auto;
}

nav {
    height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

nav ::deep>a {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;

    color: var(--c-text-light);
    text-decoration: none;
    outline: none;
}

nav ::deep>a.active, nav ::deep>a:hover {
    background: var(--c-content-background);
}

nav ::deep>a:active {
    background: var(--c-sidebar-background);
}

nav ::deep>a:focus-visible {
    color: var(--c-ficsit-secondary);
}

.spacer {
    flex: 1;
}

form {
    height: 32px;
    display: flex;
}

form.login {
    min-width: 96px;
}

button.loginout {
    margin: 0;
    padding: 0;
    height: 32px;
    min-width: 32px;
    vertical-align: middle;

    border: none;
    background: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background: var(--c-content-background);
    }
    
    &:focus-visible {
        color: var(--c-ficsit-secondary);
    }
    
    &:active {
        background: var(--c-sidebar-background);
    }

    display: inline-grid;
    align-items: center;
    justify-content: center;
    &>img {
        width: 24px;
        height: 24px;
    }
}

main {
    background: var(--c-content-background);
    padding: 16px;
}