@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="shell">
    <nav>
        <Tab Category="Facilities" />
        <Tab Category="Recipes" />
        <Tab Category="Parts" Href="/" />
        <Tab Category="Machines" />
        <div class="spacer"></div>    
        <AuthorizeView>
            <Authorized>
                <form method="post" action="/Account/Logout">
                    <AntiforgeryToken />
                    <button type="submit" class="loginout"><img src="/MAM_Research_Lock.png" width="24" height="24"></button>
                </form>
            </Authorized>
            <NotAuthorized>
                <form method="post" action="/Account/Login">
                    <AntiforgeryToken />
                    <TextBox size="10" name="password" type="password" />
                    <button type="submit" class="loginout"><img src="/MAM_Research_Key.png" width="24" height="24"></button>
                </form>
            </NotAuthorized>
        </AuthorizeView>
    </nav>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
