.shell {
    max-width: 1080px;
    margin: 0 auto;
}

nav {
    height: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    display: flex;
    gap: 1em;
    align-items: center;
}

nav ::deep > a {
    color: var(--c-ficsit-secondary);
    text-decoration: none;

    &.active {
        text-decoration: underline;
    }
}

main {
    background: var(--c-content-background);
    padding: 16px;
}