@inherits LayoutComponentBase

<div class="shell">
    <nav>
        <NavLink href="/facilities">
            <img class="tab-icon" src="/ResIcon_Production.png">
            <span class="tab-title">Facilities</span>
        </NavLink>

        <NavLink href="/recipes">
            <img class="tab-icon" src="/ResIcon_Organisation.png">
            <span class="tab-title">Recipes</span>
        </NavLink>

        <NavLink href="/" Match="NavLinkMatch.All">
            <img class="tab-icon" src="/ResIcon_Walls.png">
            <span class="tab-title">Parts</span>
        </NavLink>

        <NavLink href="/machines">
            <img class="tab-icon" src="/ResIcon_Logistics.png">
            <span class="tab-title">Machines</span>
        </NavLink>
    </nav>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
