@inherits LayoutComponentBase
@code {
    private string password { get; set; } = "";
}

<div class="shell">
    <nav>
        <Tab Category="Facilities" />
        <Tab Category="Recipes" />
        <Tab Category="Parts" Href="/" />
        <Tab Category="Machines" />
        <div class="spacer"></div>
        <TextBox @bind-Value="password" size="10" type="password" />
        <a><img src="/MAM_Research_Key.png" width="24" height="24"></a>
    </nav>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
