@inherits LayoutComponentBase

<div class="shell">
    <nav>
        <NavLink href="/facilities">Facilities</NavLink>
        <NavLink href="/recipes">Recipes</NavLink>
        <NavLink href="/parts">Parts</NavLink>
        <NavLink href="/machines">Machines</NavLink>
    </nav>
    
    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
