@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}

<div class="shell">
    <nav>
        <Tab Category="Facilities" />
        <Tab Category="Recipes" />
        <Tab Category="Parts" />
        <Tab Category="Machines" />
        <div class="spacer"></div>    
        <AuthorizeView>
            <Authorized>
                <form method="post" action="/Account/Logout">
                    <AntiforgeryToken />
                    <IconButton Src="/MAM_Research_Lock.png" />
                </form>
            </Authorized>
            <NotAuthorized>
                <form class="login" method="post" action="/Account/Login">
                    <AntiforgeryToken />
                    <TextBox name="password" type="password" style="min-width: 60px; max-width: 120px" />
                    <IconButton Src="/MAM_Research_Key.png" />
                </form>
            </NotAuthorized>
        </AuthorizeView>
    </nav>

    <main>
        <ErrorBoundary @ref="errorBoundary">
            <ChildContent>@Body</ChildContent>
            <ErrorContent>
                <div class="blazor-error-boundary">
                    <pre>@context.ToString()</pre>
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
