@inherits LayoutComponentBase

<div class="shell">
    <nav>
        <NavLink href="/facilities">
            <img src="/ResIcon_Production.png">
            Facilities
        </NavLink>

        <NavLink href="/recipes">
            <img src="/ResIcon_Organisation.png">
            Recipes
        </NavLink>

        <NavLink href="/" Match="NavLinkMatch.All">
            <img src="/ResIcon_Walls.png">
            Parts
        </NavLink>

        <NavLink href="/machines">
            <img src="/ResIcon_Logistics.png">
            Machines
        </NavLink>
    </nav>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
