.tab-icon {
    width: 32px;
    height: 32px;

    & + * {
        margin-left: 2px;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .tab-title {
        display: none;
    }
}
