@using Microsoft.AspNetCore.Components.Authorization
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object>? Splat { get; set; }
}

<AuthorizeView>
    <button @attributes="Splat">
        @ChildContent
    </button>
</AuthorizeView>