button {
    height: 32px;
    padding: 0 8px;

    border: none;
    background: var(--c-page-background);
    color: var(--c-text-light);
    outline: none;

    cursor: pointer;
}

button:hover {
    background: var(--c-foundation-primary);
}

button:focus-visible {
    color: var(--c-ficsit-secondary);
}