@using Microsoft.AspNetCore.Components.Authorization
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object>? Splat { get; set; }
}

<AuthorizeView>
    <Authorized>
    <button class="command" @attributes="Splat">
        @ChildContent
    </button>
    </Authorized>
    <NotAuthorized>
        <div class="placeholder command">&nbsp;</div>
    </NotAuthorized>
</AuthorizeView>