button {
    height: 32px;
    padding: 0 8px;

    border: 1px solid var(--c-ficsit-primary);
    background: var(--c-page-background);
    color: var(--c-text-light);
    outline: none;

    cursor: pointer;
    font-size: 20px;

    &:hover {
        background: var(--c-content-background);
    }
    
    &:focus-visible {
        color: var(--c-ficsit-secondary);
    }
    
    &:active {
        background: var(--c-sidebar-background);
    }

    &[disabled] {
        background: none;
        color: var(--c-foundation-primary);
    }
}
