@using Microsoft.AspNetCore.Components.Authorization
@code {
    [Parameter, EditorRequired] public required Lens<byte[]?> Lens { get; set; }

    private async Task OnImageUpload(InputFileChangeEventArgs e)
    {
        var image = await e.File.RequestImageFileAsync("png", 128, 128);
        using var buffer = new MemoryStream();
        await image.OpenReadStream().CopyToAsync(buffer);
        Lens.Value = buffer.ToArray();
    }
}

<div class="layout">
    <ImageBox SideLength="126" Value="Lens.Value" />    
    <AuthorizeView>
        <label for="image-upload" class="overlay">
            <InputFile id="image-upload" OnChange="OnImageUpload" />
        </label>
    </AuthorizeView>
</div>
