@code {
    [CascadingParameter] public required IUnitOfWork UOW { get; set; }
    [Parameter] public required Part Model { get; set; }
    private string src = "";

    private void DeletePart()
    {
        UOW.DB.Parts.Remove(Model);
        UOW.NotifyChanged();
    }

    protected override void OnParametersSet()
    {
        if (Model.Icon is null)
        {
            src = "Icon_Cross.png";
        }
        else
        {
            var data = Convert.ToBase64String(Model.Icon);
            src = $"data:image/png;base64,{data}";
        }
    }

}

<div class="layout">
    <ImageField @bind-Value="Model.Icon" />
    <div class="data-primary">
        <label for="name">Name</label>
        <TextField id="name" @bind-Value="Model.Name" />
    </div>
    <CommandButton @onclick="DeletePart">Delete</CommandButton>
</div>