.layout {
    height: 64px;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 1fr 24px;
    grid-template-areas: 'icon data';
}

figure {
    grid-area: icon;
    margin: 0;
}

img {
    display: block;
    width: 64px;
    height: 64px;
}

.data {
    grid-area: data;
    padding: 8px;
    display: flex;
}