.layout {
    min-height: 128px;
    display: grid;
    grid-template-columns: 128px 1fr auto;
    grid-template-rows: 1fr 24px;
    grid-template-areas:
        'icon data data'
        'icon data data';
}

figure {
    grid-area: icon;
    margin: 0;
}

img {
    display: block;
    width: 128px;
    height: 128px;
}

.data {
    grid-area: data;
    padding: 8px;
}

input {
    background: var(--c-content-background);
    color: var(--c-text-light);
    border: 1px solid var(--c-ficsit-primary);
    outline: none;
}

input:hover,
input:focus {
    border-color: var(--c-ficsit-secondary);
}

.layout ::deep button {
    grid-column: 3/4;
    grid-row: 2/3;
    height: 24px;
    padding: 0 4px;
}