@code {
    [CascadingParameter] public required IUnitOfWork UOW { get; set; }
    [Parameter] public required Part Model { get; set; }
    private string src = "";

    protected override void OnParametersSet()
    {
        if (Model.Icon is null)
        {
            src = "Icon_Cross.png";
        }
        else
        {
            var data = Convert.ToBase64String(Model.Icon);
            src = $"data:image/png;base64,{data}";
        }
    }
}

<div class="layout">
    <ImageBox Value="Model.Icon" />
    <div class="data">
        <span>@Model.Name</span>
    </div>
</div>