@code {
    [CascadingParameter] public required IUnitOfWork UOW { get; set; }
    [Parameter] public required Part Model { get; set; }
    private string src = "";

    private string partName
    {
        get => Model.Name;
        set { Model.Name = value; UOW.NotifyChanged(); }
    }

    private void DeletePart()
    {
        UOW.DB.Remove(Model);
        UOW.NotifyChanged();
    }

    protected override void OnParametersSet()
    {
        if (Model.Icon is null)
        {
            src = "Icon_Cross.png";
        }
        else
        {
            var data = Convert.ToBase64String(Model.Icon);
            src = $"data:image/png;base64,{data}";
        }
    }
}

<div class="layout">
    <figure class="icon">
        <img src="@src" />
    </figure>
    <div class="data">
        Name: <input type="text" @bind="partName">
        <span>@Model.Name</span>
    </div>
    <CommandButton @onclick="DeletePart">Delete</CommandButton>
</div>