@page "/"
@using Microsoft.EntityFrameworkCore

@inherits DbPage
@code {
    private Part? selectedPart;

    private bool hasPart => selectedPart is not null && DB.Parts.Local.Contains(selectedPart);

    private void AddPart()
    {
        selectedPart = new Part { Name = "New Part" };
        DB.Parts.Add(selectedPart);
        NotifyChanged();
    }
}

<PageTitle>Akycha - Parts</PageTitle>

<CascadingValue TValue="IUnitOfWork" IsFixed Value="this">
    <div class="@(hasPart ? "master-detail master-detail--has-detail" : "master-detail")">
        <ListBox Header="@($"{DB.Parts.Count()} Parts")" Models="All<Part>()" AddCommand="AddPart" @bind-Selection="selectedPart">
            <PartSummary Model="context" />
        </ListBox>
        @if (hasPart)
        {
            <PartDetail Model="selectedPart" />
        }
    </div>
</CascadingValue>