.box {
    height: 32px;
    padding: 0 8px;

    border: 1px solid var(--c-ficsit-primary);
    
    display: flex;
    align-items: center;
    gap: 8px;


    &:hover, &.active {
        border-color: var(--c-ficsit-secondary);
    }

    &.active {
        border-bottom-color: transparent;
    }
}

.option {
    height: 32px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px;

    &:hover {
        background: var(--c-foundation-primary);
    }
}

.box, .option {
    cursor: pointer;
    user-select: none;
    background: inherit;
    color: inherit;
}

.popup {
    /* width: 100%; */

    display: none;    
    flex-direction: column;
    
    border: solid var(--c-ficsit-secondary);
    border-width: 0 1px 1px 1px;
    background: var(--c-content-background);

    &.open {
        display: flex;
    }
}

.spacer {
    flex: 1;
}