@using Microsoft.AspNetCore.Components.Authorization
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback Action { get; set; }
    [Parameter] public bool Small { get; set; }
    [Parameter] public bool Disabled { get; set; }
}

<AuthorizeView>
    <Authorized>
    <button class="@BEM.Class("command", (Small, "small"))" disabled="@Disabled" @onclick="Action">
        @ChildContent
    </button>
    </Authorized>
    <NotAuthorized>
        <div class="@BEM.Class("placeholder command", (Small, "small"))">&nbsp;</div>
    </NotAuthorized>
</AuthorizeView>