.col {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.col:not(.compact) > ::deep *:not(:is(.bar, :has(+ .derived))) {
    margin-bottom: 24px;
}

.col.compact {
    margin-bottom: -36px;
}

.col.compact > ::deep .bar {        
    width: 50%;
    margin-left: 50%;
    margin-top: -36px;
}

.col ::deep a {
    color: var(--c-text-light);
    text-decoration: none;
    display: block;
}

.col ::deep a:hover {
    background: var(--c-foundation-primary);
}