@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Compact { get; set; }
}

<div class="@BEM.Class("col", (Compact, "compact"))">
    @ChildContent
</div>
