.col {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.col:not(.compact) > ::deep *:not(:is(.bar, :has(+ .derived))) {
    margin-bottom: 24px;
}

.col.compact {
    margin-bottom: -36px;
}

.col.compact > ::deep .bar {    
    margin-top: -36px;
}