@using Microsoft.AspNetCore.Components.Authorization
@code {
    [CascadingParameter] public required IUnitOfWork UOW { get; set; }
    [Parameter] public byte[]? Value { get; set; }
    [Parameter] public EventCallback<byte[]?> ValueChanged { get; set; }

    private async Task OnImageUpload(InputFileChangeEventArgs e)
    {
        var image = await e.File.RequestImageFileAsync("png", 128, 128);
        using var buffer = new MemoryStream();
        await image.OpenReadStream().CopyToAsync(buffer);

        Value = buffer.ToArray();
        await ValueChanged.InvokeAsync(Value);
        UOW.NotifyChanged();
    }
}

<div class="layout">
    <ImageBox SideLength="126" Value="Value" />    
    <AuthorizeView>
        <label for="image-upload" class="overlay">
            <InputFile id="image-upload" OnChange="OnImageUpload" />
        </label>
    </AuthorizeView>
</div>
