.layout {
    display: grid;
    grid-template-rows: 128px;
    grid-template-columns: 128px;
}

.layout > ::deep * {
    grid-area: 1/1/2/2;
}

.layout > ::deep figure {
    margin: 1px 0 0 1px;
}

.overlay {
    border: 1px solid var(--c-ficsit-primary);
    cursor: pointer;
    background: inherit;

    &:hover {
        border-color: var(--c-ficsit-secondary);
    }
}

.overlay > ::deep input {
    display: none;
}