@using Microsoft.AspNetCore.Components.Authorization
@code {
    [CascadingParameter] public required IUnitOfWork UOW { get; set; }
    [EditorRequired, Parameter] public required string Type { get; set; }
    [EditorRequired, Parameter] public int Id { get; set; }
    [Parameter] public EventCallback<byte[]?> ValueChanged { get; set; }

    private async Task OnImageUpload(InputFileChangeEventArgs e)
    {
        var image = await e.File.RequestImageFileAsync("png", 128, 128);
        using var buffer = new MemoryStream();
        await image.OpenReadStream().CopyToAsync(buffer);
        await ValueChanged.InvokeAsync(buffer.ToArray());
        UOW.NotifyChanged();
    }
}

<div class="layout">
    <ImageBox SideLength="126" Type="@Type" Id="@Id" />    
    <AuthorizeView>
        <button class="overlay" onclick="document.getElementById('image-upload').click()">
            <InputFile id="image-upload" OnChange="OnImageUpload" />
        </button>
    </AuthorizeView>
</div>
