@typeparam T where T : class
@code {
    [Inject] public required SettingsService Settings { get; set; }
    [Parameter] public RenderFragment<T>? ChildContent { get; set; }
    [Parameter, EditorRequired] public required Func<Task<IReadOnlyList<T>>> GetModels { get; set; }
    [Parameter, EditorRequired] public required Func<T, string> GetHeader { get; set; }
    [Parameter] public EventCallback AddCommand { get; set; }
    [Parameter] public T? Selection { get; set; }
    [Parameter] public EventCallback<T> SelectionChanged { get; set; }

    private bool loaded;
    private IReadOnlyList<T> models = [];

    protected override async Task OnParametersSetAsync()
    {
        models = await GetModels();
        loaded = true;
    }

    private void Select(T model)
    {
        Selection = model;
        SelectionChanged.InvokeAsync(model);
    }

    private bool GetExpanded(string group)
    {
        var key = $"ListBox:{typeof(T).Name}:{group}";
        return Settings.Get(key, true);
    }

    private void ToggleExpanded(string group)
    {
        var key = $"ListBox:{typeof(T).Name}:{group}";
        var expanded = Settings.Get(key, true);
        Settings.Put(key, !expanded);
    }
}

<div class="list">
    @{
        var currentHeader = "";
        var firstHeader = true;
        foreach (var model in models)
        {
            var itemHeader = GetHeader(model);
            if (currentHeader != itemHeader)
            {
                <header>
                    <button class="title" @onclick="() => ToggleExpanded(itemHeader)">
                        <svg class="expander" viewBox="0 0 14 14">
                            @if (GetExpanded(itemHeader))
                            {
                                <path d="M0,5 L7,12 L14,5" />
                            }
                            else
                            {
                                <path d="M5,0 L12,7 L5,14" />
                            }
                        </svg>
                        <span>@itemHeader</span>
                    </button>
                    @if (firstHeader && AddCommand.HasDelegate)
                    {                        
                        <CommandButton Action="AddCommand" Disabled="@(!loaded)">Add</CommandButton>
                        firstHeader = false;
                    }
                </header>
                currentHeader = itemHeader;
            }

            @if (GetExpanded(itemHeader))
            {
                <button class="@BEM.Class("item", (model == Selection, "selected"))" @onclick="() => Select(model)">
                    @ChildContent?.Invoke(model)
                </button>
            }
        }
    }
</div>
