@typeparam T where T : class
@code {
    [Parameter] public string Header { get; set; } = "";
    [Parameter] public RenderFragment<T>? ChildContent { get; set; }
    [Parameter, EditorRequired] public required Func<Task<IReadOnlyList<T>>> GetModels { get; set; }
    [Parameter] public EventCallback AddCommand { get; set; }
    [Parameter] public T? Selection { get; set; }
    [Parameter] public EventCallback<T> SelectionChanged { get; set; }
    private bool loaded;
    private IReadOnlyList<T> models = [];

    protected override async Task OnParametersSetAsync()
    {
        models = await GetModels();
        loaded = true;
    }

    private void Select(T model)
    {
        Selection = model;
        SelectionChanged.InvokeAsync(model);
    }
}

<div class="layout">
    <header>
        <span class="title">@Header</span>
        @if (AddCommand.HasDelegate)
        {
            <CommandButton @onclick="AddCommand" disabled="@(!loaded)">Add</CommandButton>
        }
    </header>

    <div class="list">
        @foreach (var model in models)
        {
            <button class="@BEM.Class("item", (model == Selection, "selected"))" @onclick="() => Select(model)">
                @ChildContent?.Invoke(model)
            </button>
        }
    </div>
</div>