header {
    background-color: var(--c-ficsit-primary);
    color: var(--c-text-dark);

    height: 30px;
    font-size: 20px;
    user-select: none;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

header:first-of-type {
    height: 32px;
    & > .title {
        padding-top: 2px;
    }
}

header > ::deep .command {
    border-width: 1px 0;
}

.title {
    padding: 0 8px;
}

.list {
    align-self: start;
    display: flex;
    flex-direction: column;    
    border-left: 2px solid var(--c-ficsit-primary);
    border-right: 2px solid var(--c-ficsit-primary);
    overflow: hidden;
}

.item {
    background: none;
    border: none;
    outline: none;
    color: inherit;
    border-bottom: 2px solid var(--c-ficsit-primary);
    cursor: pointer;
    white-space: nowrap;
    padding: 0;
}

.item.selected {
    background: var(--c-sidebar-background);
}

.item.selected ::deep .glyph {
    stroke: none;
    fill: var(--c-ficsit-primary);
}

.item:focus-visible {
    color: var(--c-ficsit-secondary);
}