header {
    background-color: var(--c-ficsit-primary);
    color: var(--c-text-dark);

    height: 32px;
    font-size: 20px;
    user-select: none;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header > ::deep *:last-child {
    margin-right: 1px;
}

.title {
    padding: 0 8px;
}

.list {
    display: flex;
    flex-direction: column;    
    border-left: 2px solid var(--c-ficsit-primary);
    border-right: 2px solid var(--c-ficsit-primary);
}

.item {
    background: none;
    border: none;
    outline: none;
    color: inherit;
    border-bottom: 2px solid var(--c-ficsit-primary);
    cursor: pointer;
    white-space: nowrap;
}

.item.selected {
    background: var(--c-sidebar-background);
}

.item:focus-visible {
    color: var(--c-ficsit-secondary);
}